.panel {
  padding: 10px;
  background-color: #DDD;
  border-radius: 5px;
  overflow-x: auto;
}

.tournament1, .tournament3 {

main {
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

main, ul {
  display:-webkit-flex;
}

ul {
  -webkit-flex-direction:column;
  flex-direction:column;
  width: 200px;
  list-style:none;
  padding:0;
}

.game + li {
  -webkit-flex-grow:1;
  flex-grow:1;
}

li:first-child,li:last-child {
  -webkit-flex-grow:.5;
  flex-grow:.5;
}

.game {
  padding-left:20px;
}

.winner {
  font-weight:bold;
}

.game span {
  float:right;
  margin-right:5px;
}

.game-top {
  border-bottom:1px solid #aaa;
}

.game-top + li {
  border-right:1px solid #aaa; min-height:40px;
}

.game-bottom {
  border-top:1px solid #aaa;
}

}



.tournament2 {

main {
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

main, ul {
  display:-webkit-flex;
  display:flex;
}

ul {
  -webkit-flex-direction:column;
  flex-direction:column;
  width: 200px;
  list-style:none;
  padding:0;
}

.game + li {
  -webkit-flex-grow:1;
  flex-grow:1;
}

ul:before, ul:after {
  display: inline-block;
  content: " ";
  -webkit-flex-grow:0.5;
  flex-grow:0.5;
}

.game {
  padding-left:20px;
}

.winner {
  font-weight:bold;
}

.game span {
  float:right;
  margin-right:5px;
}

.game-top {
  border-bottom:1px solid #aaa;
}

.game-top + li {
  border-right:1px solid #aaa; min-height:40px;
}

.game-bottom {
  border-top:1px solid #aaa;
}

}

.tournament3 {

.game + li {
  background-color: yellow;
}

li:first-child,li:last-child {
  background-color: blue;
}

}